<form id="addBioForm">
  <div class="form-group">
    <textarea id="biography" name="biography" placeholder="Add a bio" class="form-control">{{#if userProfile.biography}}{{userProfile.biography}}{{/if}}</textarea>
  </div>
  <a href="/users/me" class="btn btn-success btn-sm" onclick="updateBio()">Save</a>
  <a href="#" class="btn btn-secondary btn-sm" onclick="addBioCancel()">Cancel</a>
</form>