<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    {{#if user}}
    <a class="navbar-brand" href="/tasks">Tasker.</a>
    {{else}}
    <a class="navbar-brand" href="/">Tasker.</a>
    {{/if}}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a href="/tasks" class="nav-link">My tasks</a>
        </li>
        <li class="nav-item">
          <a href="/groups" class="nav-link">Groups</a>
        </li>
        <li class="nav-item">
          <a href="/users/me" class="nav-link">{{user.name}}</a>
        </li>
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/register">Sign up</a>
        </li>
        {{/if}}
      </ul>
    </div>

  </div>
</nav>