<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="usersInGroup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Users in group </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {{#each users}}
          <a href="/users/{{id}}" class="list-group-item list-group-item-active">{{name}} <span class="font-weight-light">({{username}})</span></a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>