<div class="jumbotron">
  <div class="display-4">Tasker.</div>
  <div class="lead">Track your own tasks or collaborate with other people.</div>
  <hr class="my-4">
  <p>Start using Tasker now</p>
  <a href="/users/login" class="btn btn-primary btn-lg mr-2">Log in</a>
  <a href="/users/register" class="btn btn-success btn-lg">Sign up</a>
</div>