#passwordLengthMessage {
  transition: opacity .4s linear;
}

.flicker {
  animation-name: flicker;
  animation-duration: .3s;
  animation-iteration-count: 5;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

#addBioForm {
  display: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.btnGroupColorMenu {
  padding: 0;
  border-radius: .3rem;
}

.btnGroupColorMenu > label {
  border-radius: 0;
  margin: 0!important;
}

.btnGroupColorMenu > label:first-child {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.btnGroupColorMenu > label:last-child {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.btnGroupColorMenu > label > input {
  visibility: hidden;
}